[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tinydb = "*"
gptrun = {git = "https://github.com/nilp0inter/gptrun.git"}

[dev-packages]

[requires]
python_version = "3.10"
